/* introduce css*/
body {
    position: relative;
    background-color: #fff;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #403e3e;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin:0px;background: url(../src/huoying.webp) no-repeat;background-size:100% 100%;background-attachment:fixed;

}

div.intent{
    display: block;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 180px;
    left: 800px;
    /* background-color: aqua; */
    text-align: center;

}



div img{
    display: block;
}
div.navigation{
    position: absolute;
    top: 0px;
    left: 0px;
}

.navigation a{
    display: block;
    width: 100px;
    height: 80px;
    background-color: #403e3e;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 80px; 
    font-size: 18px
}

div a:hover{
    background-color: #608dd9;
}

.navigationBar{
    position: absolute;
    top: 0px;
    left: 100px;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    transition: all .3s ease-in-out;
    opacity: .5
}

.navigationBar:hover {
    opacity: 1
}

.navigationBar:before {
    content: "导航";
    font-family: remixicon;
    font-size: larger
}