/* css */
/* table{
    color:red;
} */
body {
    position: relative;
    background-color: #fff;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #403e3e;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#bule{
color:blue;
font-size: 30px;
}

div{
    font: 30px 楷体;
    text-align: center;
    color: rgb(25,25,25);
}

a:hover{
    color:gold;
}